.debug{
	background-color:red;
}


.background-wrapper{
	/*height:100vw;*/
	/*width:100%;*/
	/*background-color: red;*/
	overflow: hidden;

	/*height:auto;*/
	/*min-height: 250px;*/
	background:url("../img/OlinPano.jpg");
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	-webkit-filter: grayscale(50%);;
	filter: grayscale(20%);
	padding-bottom: 50px;
}

.bg-img{
	height:100vh;
	width:250vh;
	position:absolute;	
	z-index:-100;
}

.bg-img img{

}

.title{
	padding-top:100px;
	text-align: center;
	color:white;

}

.title h1{
	font-size:5rem;
	font-family: 'Amatic SC', cursive;
}

.wrapper{
	width:100%;
}

.spacer{
	height:150px;
}

.buttonlink{
	text-align: center;
}

.mybutton{
	width:90%;
	max-width:300px;
	margin:auto;
	color:white;
	border:white 3px solid;
	border-radius:50px;
	height:100px;	
	background-color:transparent;
	text-align: center;
	padding:15px;
	padding-top:1.5%;
	transition:ease-in-out .4s;
}

.mybutton:hover{
	color:black;
	background:white;
}

.mybutton h2, .mybutton h1{
	font-weight:thin;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size:3rem;
}
