.debug{
	background-color:red;
}


.background-wrapper{
	/*height:100vw;*/
	/*width:100%;*/
	/*background-color: red;*/
	overflow: hidden;

	/*height:auto;*/
	/*min-height: 250px;*/
	background:url("../img/OlinPano.jpg");
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	-webkit-filter: grayscale(50%);;
	filter: grayscale(20%);
	padding-bottom: 50px;
}

.title{
	padding-top:100px;
	text-align: center;
	color:white;
}

.title h1{
	font-size:5rem;
	font-family: 'Amatic SC', cursive;
}

.wrapper{
	width:100%;
}

.spacer{
	height:150px;
}

.mybutton{
	width:90%;
	max-width:300px;
	margin:auto;
	color:white;
	border:white 3px solid;
	border-radius:50px;
	height:100px;	
	background-color:transparent;
	text-align: center;
	padding:15px;
	padding-top:1.5%;
	transition:ease-in-out .4s;
}

.mybutton:hover{
	background:white;
}

.mybutton > a{
	color:white;
	transition:ease-in-out .4s;
}

.mybutton:hover > a{
	color:black;
}

.button-text{
	font-weight:thin;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size:3rem;
}

/**********
   MODALS
**********/

.reveal{
	background:#fff;
}

#yesModal{
	padding: 50px;
	border-radius:10px;
}